{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block content %}
{{super()}}
  <script src="{{url_for('static', filename='js/scrollBottom.js')}}"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    scrollToBottom();
  }, false);
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      {{ wtf.quick_form(form, action="search", method="get") }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      {% if 'ensemble' in plotType %}
        <img src={{url_for('.static', filename='vsup_all.png')}} /> <!-- width="100%" height="100%" />-->
      {% endif %}
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img src={{image}} /> <!-- width="100%" height="100%" />-->
    </div>
  </div>
</div>
{% endblock %}
